<h2>Guests: </h2>
<% @episode.guests.uniq.each do |guest| %>
  <p><%= link_to guest.name, guest_path(guest) %></p>
  <p>Rating: <%= Appearance.where(episode_id: @episode.id, guest_id: guest.id).where("rating != ?", 0).first.rating %></p>
<% end %>
